#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.underline {
	color: #5dd39e;
	text-decoration: none;
	background: linear-gradient(to left, #5dd39e, #5dd39e 100%);
	background-position: 0 100%;
	background-size: 100% 3px;
	background-repeat: repeat-x;
	padding-bottom: 10px;
}

.underlineHover:hover {
	cursor: pointer;
	color: #5dd39e;
	filter: drop-shadow(0 0 1em #949494aa);
	text-decoration: none;
	background: linear-gradient(to left, #5dd39e, #5dd39e 100%);
	background-position: 0 100%;
	background-size: 100% 3px;
	background-repeat: repeat-x;
	padding-bottom: 2px;
}
.phoneText {
	color: white;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 25px;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 1%;
}
.email {
	display: flex;
	color: white;
	cursor: pointer;
}
.email:hover {
	display: flex;
	cursor: pointer;
	color: #5dd39e;
	filter: drop-shadow(0 0 1em #ffffffaa);
	text-decoration: none;
}
