#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	/* height: 6em; */
	/* padding: 1.5em; */
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #707070aa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #707070aa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.underline {
	color: #5dd39e;
	text-decoration: none;
	background: linear-gradient(to left, #5dd39e, #5dd39e 100%);
	background-position: 0 100%;
	background-size: 100% 3px;
	background-repeat: repeat-x;
	padding-bottom: 5px;
}

.underlineHover:hover {
	cursor: pointer;
	color: #5dd39e;
	filter: drop-shadow(0 0 1em #686868);
	text-decoration: none;
	background: linear-gradient(to left, #5dd39e, #5dd39e 100%);
	/* background: rgb(61, 61, 61); */
	background-position: 0 100%;
	background-size: 100% 3px;
	background-repeat: repeat-x;
	padding-bottom: 2px;
}
.logoUnderline {
	cursor: pointer;
}
.phoneText {
	color: white;
	font-weight: 700;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 25px;
	padding-top: 10px;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 1%;
	z-index: 1;
	box-shadow: 0px 0px 10px 0px rgb(22, 22, 22);
}
.email-text {
	position: relative;
	color: white;
	font-weight: 700;
	padding-left: 0px;
	/* padding-right: 25px; */
	padding-bottom: 10px;
}
.email {
	display: flex;
	color: white;
	cursor: pointer;
	align-items: flex-end;
}
.email:hover {
	display: flex;
	cursor: pointer;
	color: #5dd39e;
	filter: drop-shadow(0 0 1em #ffffffaa);
	text-decoration: none;
}
@keyframes marquee {
	0% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(100%, 0);
	}
}
@keyframes marqueeReverse {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
#animated-text-strip {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	justify-content: flex-start;
	margin-top: 10%;
	color: #5dd39e;
	font-size: 92px;
	font-weight: 1000;
	background: #292929;
	padding: 3px;
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
}
#animated-text-strip-reversed {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(109, 109, 109);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	padding: 3px;
	margin-top: 3px;
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
	width: fit-content;
}

#animated-text-strip .marquee {
	white-space: nowrap;
	animation: marquee 5s ease-in infinite;
	max-width: none;
}
#animated-text-strip-reversed .marqueeReverse {
	white-space: nowrap;
	animation: marqueeReverse 5s ease-in infinite;
	max-width: none;
}

#animated-text-stripOne {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(156, 156, 156);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	width: fit-content;
	padding: 3px;
	margin-top: 3px;
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
}
#animated-text-strip-reversedOne {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(182, 182, 182);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	width: fit-content;
	padding: 3px;
	margin-top: 3px;
	transition: transform 0.5s cubic-bezier(0.45, 0, 0.55, 1);
}

#animated-text-stripOne .marquee {
	white-space: nowrap;
	animation: marquee 5s ease-in infinite;
	max-width: none;
}
#animated-text-strip-reversedOne .marqueeReverse {
	white-space: nowrap;
	animation: marqueeReverse 5s ease-in infinite;
	max-width: none;
}

/* #animated-text-strip-reversed {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
}
#animated-text-strip-reversed .marquee {
	white-space: nowrap;
	animation: marquee 5s linear infinite;
	max-width: none;
}
#animated-text-strip-reversed .marqueeReverse {
	white-space: nowrap;
	animation: marqueeReverse 5s linear infinite;
	max-width: none;
} */
/* #animated-text-strip {
	background: black;
	padding: 1rem 0;
} */
.marquee {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
}
.marqueeReverse {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
}
