#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

@media (max-width: 1000px) {
	.imgCard {
		width: 98%;
	}
}
@media (max-width: 1100px) {
	.langBtn {
		position: fixed;
		top: 1rem;
		right: 1.5rem;
		z-index: 1;
		width: 30px;
		height: 100px;
		opacity: 0.5;
		transition: opacity 0.5s ease-in;
		cursor: pointer;
	}
}
@media (min-width: 1100px) {
	.langBtn {
		position: fixed;
		top: 2rem;
		right: 1.5rem;
		z-index: 1;
		width: 30px;
		height: 100px;
		opacity: 0.5;
		transition: opacity 0.5s ease-in;
		cursor: pointer;
	}
}
/* @media (max-width: 1100) {
	.navbarSmall {
		box-shadow: 0px 0px 10px 0px rgb(22, 22, 22);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background-color: #242424;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		padding: 0 10px 10px 10px;
		z-index: 1;
		height: 5rem;
	}
} */
.read-the-docs {
	color: #888;
}

.animated {
	animation: fade ease-in both;
	animation-timeline: view();
	animation-range: entry 30% cover 85%;
	/* animation-range: entry 50% cover 50%; */
	margin-top: 3%;
	display: flex;
	justify-content: center;
}

@keyframes fade {
	/* from {
		opacity: 0;
	}
	to {
		opacity: 1;
	} */
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}

	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate();
	}
}

.menu {
	font-size: 1.1rem;
	font-weight: 800;
	margin-right: 0.5rem;
	color: rgb(177, 177, 177);
}
.menuMobile {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgb(156, 156, 156);
}
.menuMobileLines {
	margin-left: 3px;
	padding-top: 3px;
	width: 14px;
	height: 1px;
	cursor: pointer;
	border-bottom: 1px solid #5dd39e;
}
.x:after {
	position: fixed;
	top: 0.4rem;
	left: 1.2rem;
	font-size: 2em;
	font-weight: 100;
	color: #5dd39e;
	content: "\d7";
}

.backDrop {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	z-index: 100;
}
.underline {
	color: #5dd39e;
	text-decoration: none;
	background: linear-gradient(to left, #5dd39e, #5dd39e 100%);
	background-position: 0 100%;
	background-size: 100% 3px;
	background-repeat: repeat-x;
	padding-bottom: 5px;
}

.underlineHover:hover {
	cursor: pointer;
	color: #5dd39e;
	filter: drop-shadow(0 0 1em #686868);
	text-decoration: none;
	background: linear-gradient(to left, #5dd39e, #5dd39e 100%);
	/* background: rgb(61, 61, 61); */
	background-position: 0 100%;
	background-size: 100% 3px;
	background-repeat: repeat-x;
	padding-bottom: 2px;
}
.logoUnderline {
	cursor: pointer;
}
.btnSlideCont {
	position: sticky;
	top: 4.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.btnSlide {
	position: sticky;
	top: 4.5rem;
	margin-left: 8%;
	border: 1px solid #818181;
	background-color: #4d4d4d;
	width: 26px;
	height: 12px;
	border-radius: 10px;
	z-index: 1;
	cursor: pointer;
}
.btnSlideDot {
	position: absolute;
	top: 1px;
	left: 1px;
	border: 1px solid #818181;
	background-color: #d1d1d1;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	z-index: 1;
	transform: translateX(0px);
}
.btnSlideDot20 {
	position: absolute;
	top: 1px;
	left: 1px;
	border: 1px solid #818181;
	background-color: #979797;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	z-index: 1;
	transform: translateX(14px);
}
.textBtn {
	position: absolute;
	font-size: 0.8rem;
	font-weight: 700;
	color: #5e5e5e;
	width: max-content;
	right: 2rem;
	bottom: -4px;
}
.textBelowMenu {
	margin-left: 45px;
	font-size: 0.8rem;
	font-weight: 700;
	color: #5e5e5e;
	z-index: 1;
}

.navbar {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #242424;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 0 0 10px 0;
	z-index: 1;
	padding: 0 10px 10px 10px;
	height: 5rem;
	box-shadow: 0px 0px 10px 0px rgb(22, 22, 22);
}
.navbarSmall {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #242424;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 0 0 10px 0;
	z-index: 1;
	height: 2rem;
}
.shadowNavbar {
	box-shadow: 0px 0px 10px 0px rgb(22, 22, 22);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #242424;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: 0 10px 10px 10px;
	z-index: 1;
	height: 5rem;
}
.navbarInCover {
	/* position: relative; */
	display: flex;
	align-items: center;
	justify-content: center;
	clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
	box-shadow: 30px 0px 113px 32px rgb(0, 0, 0, 12);
}
.navbarIn {
	display: flex;
	align-items: center;
	cursor: grab;
}

.contLeft {
	position: relative;
	left: 6.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.leftMenuMove {
	position: relative;
	top: 1.7rem;
	height: 41px;
	opacity: 0.5;
	transition: opacity 0.5s ease-in;
	cursor: pointer;
	padding-right: 3px;
	padding-bottom: 30px;
}
.shadowLeft {
	border-right: 10px solid #242424;
	width: 3px;
	height: 60px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	clip-path: inset(0 -20px 0 0);
	z-index: 10;
}
.contRight {
	position: relative;
	right: 5.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rightMenuMove {
	position: relative;
	top: 0.4rem;
	left: 0.5rem;
	opacity: 0.5;
	transition: opacity 0.5s ease-in;
	cursor: pointer;
	padding-left: 0px;
	/* padding-bottom: 20px; */
}
.shadowRight {
	position: relative;
	border-left: 10px solid #242424;
	width: 3px;
	height: 60px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	clip-path: inset(0 0 0 -15px);
	left: -32px;
}
.shadowRightAlert {
	position: relative;
	border-left: 2px solid #333;
	width: 3px;
	height: 60px;
	box-shadow: 0 0 15px rgba(235, 71, 71, 0.75);
	clip-path: inset(0 0 0 -15px);
	left: -32px;
}
.shadowRightAlertGlow {
	position: relative;
	border-left: 2px solid #333;
	width: 3px;
	height: 60px;
	box-shadow: 0 0 35px rgba(248, 167, 167, 0.75);
	clip-path: inset(0 0 0 -15px);
	left: -32px;
	transition: all 0.5s ease-in;
}
.shadowLeftAlert {
	position: relative;
	border-right: 2px solid #333;
	width: 3px;
	height: 60px;
	box-shadow: 0 0 15px rgba(235, 71, 71, 0.75);
	clip-path: inset(0 -15px 0 0);
}
.leftMenuMove:hover {
	opacity: 1;
}
.rightMenuMove:hover {
	opacity: 1;
}
@keyframes marquee {
	0% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(100%, 0);
	}
}
@keyframes marqueeReverse {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes text {
	0% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(100%, 0);
	}
}
@keyframes glow {
	70% {
		/* color: #5dd39e; */
		text-shadow: 0 0 10px #5dd39e;
	}
	50% {
		/* color: #5dd39e; */
		text-shadow: 0 0 0px #5dd39e;
		/* 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
	}
}

#animated-text-strip {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	justify-content: flex-start;
	margin-top: 10%;
	font-size: 4vw;
	color: #5dd39e;
	font-weight: 1000;
	background: #292929;
	padding: 3px;
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
	animation: glow 2s ease-in;
	/* width: fit-content; */
}
#animated-text-strip-reversed {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(109, 109, 109);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	padding: 3px;
	margin-top: 3px;
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
	width: fit-content;
}

#animatedMenu {
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
	/* animation: glow 2s ease-in; */
}
#animatedMenu .marquee {
	white-space: nowrap;
	animation: marquee 5s ease-in infinite;
	max-width: none;
}
#animated-text-strip .marquee {
	white-space: nowrap;
	animation: marquee 5s ease-in infinite;
	max-width: none;
}
#animated-text-strip-reversed .marqueeReverse {
	white-space: nowrap;
	animation: marqueeReverse 5s ease-in infinite;
	max-width: none;
}

#animated-text-stripOne {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(156, 156, 156);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	width: fit-content;
	padding: 3px;
	margin-top: 3px;
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
}
#animated-text-stripOneCardTitle {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(156, 156, 156);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	width: fit-content;
	transition: transform 0.5s cubic-bezier(0.61, 1, 0.88, 1);
	padding-bottom: 1rem;
	padding-right: 1rem;
}

#animated-text-strip-reversedOne {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(182, 182, 182);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	width: fit-content;
	padding: 3px;
	margin-top: 3px;
	transition: transform 0.5s cubic-bezier(0.45, 0, 0.88, 1);
}
#animated-text-strip-reversedTwo {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	color: rgb(182, 182, 182);
	font-weight: 1000;
	background: rgb(41, 41, 41);
	/* width: fit-content; */
	padding: 3px;
	margin-top: 3px;
	transition: transform 0.5s cubic-bezier(0.45, 0, 0.88, 1);
}

#animated-text-stripOne .marquee {
	white-space: nowrap;
	animation: marquee 5s ease-in infinite;
	max-width: none;
}
#animated-text-strip-reversedOne .marqueeReverse {
	white-space: nowrap;
	animation: marqueeReverse 5s ease-in infinite;
	max-width: none;
}

/* #animated-text-strip-reversed {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
}
#animated-text-strip-reversed .marquee {
	white-space: nowrap;
	animation: marquee 5s linear infinite;
	max-width: none;
}
#animated-text-strip-reversed .marqueeReverse {
	white-space: nowrap;
	animation: marqueeReverse 5s linear infinite;
	max-width: none;
} */
/* #animated-text-strip {
	background: black;
	padding: 1rem 0;
} */
.marquee {
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
}
.marqueeReverse {
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
}
.card {
	border-radius: 12px;
	padding: 5px;
	padding-left: 25px;
	padding-bottom: 0px;
	background: #333;
	display: flex;
	align-items: flex-start;
}

.textContainer {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
}
.textCard {
	font-size: 1.5rem;
	text-align: right;
	padding-top: 2.5%;
	padding-right: 1%;
	opacity: 1;
	color: #5dd39e;
}

.textCard:hover + .textDesc {
	transition: opacity 0.5s ease-in;
	opacity: 1;
}
.textDesc {
	font-size: 1rem;
	padding-top: 5%;
	padding-bottom: 2%;
	text-align: right;
	padding-left: 2%;
	opacity: 0.4;
	transition: opacity 0.5s ease-in;

	width: fit-content;
}
.textDesc:hover {
	font-size: 1rem;
	opacity: 1;
	transition: opacity 0.5s ease-in;
	color: rgb(202, 202, 202);
}
.textDesc:not(:hover) {
	font-size: 1rem;
	opacity: 0.4;
	transition: opacity 0.5s ease-in;
	color: rgb(202, 202, 202);
}
.mic {
	position: fixed;
	top: 2.3rem;
	left: 0.5rem;
	opacity: 0.5;
}
.micOff {
	position: fixed;
	top: 2rem;
	left: 0.2rem;
	opacity: 0.5;
}
.voiceToTextCont {
	/* align-self: flex-start;
	margin: 10px 0 0 0;
	padding-bottom: 0px;
	width: fit-content; */

	position: fixed;
	top: 1.9rem;
	left: 2.4rem;
	border-radius: 4px;
	padding: 5px 5px 0px 10px;
	background-color: #292929;
	z-index: 1;
	cursor: pointer;
	opacity: 0.8;
}
.textVoice {
	vertical-align: super;
	padding: 20px 10px 0px 10px;
	font-size: 0.9rem;
	font-weight: 600;
}

.pprCont {
	align-self: center;
	border-radius: 4px;
	margin: 15px 0 0 0;
	padding: 5px;
	padding-bottom: -100px;
	background-color: #313131;
	width: fit-content;
}
.imgPower {
	width: 1.4rem;
	cursor: pointer;
	opacity: 0.5;
	padding-bottom: 0.2rem;
	padding-right: 0.15rem;
}
.imgStop {
	left: 1rem;
	width: 1.4rem;
	cursor: pointer;
	opacity: 0.5;
}
.imgPower:hover {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
.imgStop:hover {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
.imgPPR {
	width: 2rem;
	cursor: pointer;
	opacity: 0.5;
}

.imgPPR:hover + .textDesc {
	transition: opacity 0.5s ease-in;
	opacity: 1;
}
.imgPPR:hover {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
.buildTitle {
	color: #e4e3e3;
	font-size: 1rem;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: right;
	padding-left: 2%;
	/* opacity: 0.4; */
	transition: opacity 0.5s ease-in;
	width: fit-content;
}
.build {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	padding-top: 1%;
	padding-bottom: 2%;
	text-align: right;
	padding-left: 2%;
	opacity: 0.4;
	transition: opacity 0.5s ease-in;
	width: fit-content;
	flex-wrap: wrap;
}
.buildEl {
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 4px;
	background-color: #535353;
}
.build:hover {
	font-size: 1rem;
	opacity: 1;
	transition: opacity 0.5s ease-in;
	color: rgb(202, 202, 202);
}

.dummyAppCont {
	position: absolute;
	left: 1rem;
	top: 1rem;
}
.dummyApp {
	color: #e4e3e3;
	font-size: 13px;
	font-weight: 800;
	padding-bottom: 5px;
}
.imgCard {
	border-radius: 12px;
	border: 4px solid #5dd39e;
	box-shadow: 0px 0px 20px 0px black;
	opacity: 1;
	transition: opacity 0.5s ease-in;
	padding-right: 0px;
	/* width: 98%; */
}
.imgCard:hover {
	color: black;
	opacity: 0.5;
	/* width: 98%; */
}
/* SVG image into the app images */
.svgLink {
	position: absolute;
	opacity: 0.5;
	transition: opacity 0.5s ease-in;
	right: 3%;
	top: -0.5%;
}
.svgLink:hover {
	position: absolute;
	color: black;
	right: 3%;
	opacity: 0.5;
}

/* Contact email on bottom classes */
.email-text {
	position: relative;
	color: white;
	font-weight: 700;
	/* margin: 25px; */
	margin: 20% 0 100% 0;
}
.email {
	position: relative;
	display: flex;
	color: white;
	cursor: pointer;
	align-items: flex-end;
	font-size: 1rem;
	margin-left: 5%;
}
.email:hover {
	position: relative;
	display: flex;
	color: white;
	cursor: pointer;
	align-items: flex-end;
	font-size: 1rem;
	margin-left: 5%;
}
.emailText {
	color: white;
	font-weight: 700;
	font-size: 1rem;
	padding-left: 5px;
	padding-right: 25px;
}
.emailTextSmall {
	color: white;
	font-weight: 700;
	font-size: 1rem;
	margin: 20%;
}
.svgEmail {
	position: absolute;
	right: 100%;
	top: 30%;
}
.textPopUpCont {
	position: absolute;
	top: 0rem;
	left: -1.5rem;
	width: 100px;
}
.textPopUp {
	position: absolute;
	font-size: 0.8rem;
	font-weight: 700;
	color: lightgray;
	top: -15px;
	left: 40px;
	display: block;
	justify-content: center;
}

.langBtn:hover {
	transition: opacity 0.5s ease-in;
	opacity: 1;
}
.langBtn:hover + .langBox {
	transition: opacity 0.5s ease-in;
	opacity: 1;
	visibility: visible;
}

.langBox {
	position: fixed;
	border-radius: 5px;
	top: 4rem;
	right: 0.8rem;
	z-index: 10;
	opacity: 0;
	width: 30px;
	height: 50px;
	border: 1px solid rgb(78, 78, 78);
	background-color: rgb(41, 41, 41);
	transition: opacity 0.5s ease-in;
	padding: 10px;
	cursor: pointer;
	visibility: hidden;
}
.langBox:hover {
	transition: opacity 0.5s ease-in;
	opacity: 1;
	visibility: visible;
}
.flag {
	opacity: 0.5;
	transition: opacity 0.5s ease-in;
}
.flag:hover {
	transition: opacity 0.5s ease-in;
	opacity: 1;
}
.toolTipCont {
	position: absolute;
	top: 5rem;
	left: -1.5rem;
	width: 100px;
}
.toolTip {
	top: 5rem;
	left: -1rem;
	font-size: 0.9rem;
	color: rgb(119, 119, 119);
	transition: opacity 0.5s ease-in;
}
/* Left Menu Projects*/
.leftMenuProjectsCont {
	position: fixed;
	top: 11rem;
	left: 1.5rem;
}

.leftMenuProjects {
	/* position: fixed; */
	top: 11rem;
	left: 1.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	width: fit-content;
	opacity: 0.5;
	transition: opacity 0.5s ease-in;
	cursor: pointer;
}
.leftMenuProjects:hover {
	transition: opacity 0.5s ease-in;
	opacity: 1;
}
.leftMenuProjects:hover + .projects {
	/* transition: opacity 0.5s ease-in; */
	opacity: 1;
	visibility: visible;
	height: 300px;
	/* margin-top: 10px; */
	margin-bottom: 20px;
}
.projects {
	/* position: fixed; */
	border-radius: 5px;
	top: 13.5rem;
	left: 1.5rem;
	opacity: 0;
	width: fit-content;
	border: 1px solid rgb(50, 50, 50);
	background-color: #292929;
	cursor: pointer;
	text-align-last: left;
	visibility: hidden;
	z-index: 10;
	/* transition: opacity 0.5s ease-in; */
	transition: height 0.5s, opacity 2s;
	height: 0px;
	padding-bottom: 10px;
}

.projects:hover {
	transition: opacity 2s ease-in;
	opacity: 1;
	visibility: visible;
	height: 300px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.boxCont {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
}
/* Text Zero */
.textUp {
	text-align: start;
	font-size: 1.1rem;
	font-weight: 800;
	width: 150px;
	height: 25px;
	color: rgb(177, 177, 177);
	z-index: 1;
	cursor: pointer;
}
.textUp:hover + .box {
	height: 120px;
	opacity: 1;
}
.box {
	opacity: 0;
	width: 200px;
	height: 0px;
	font-size: 0.9rem;
	font-weight: 800;
	color: #5e5e5e;
	border-radius: 12px;
	background: rgb(46, 46, 46);
	transition: height 0.5s, opacity 0.5s;
	padding-top: 7%;
}
.box:hover {
	height: 120px;
	color: #949494;
	opacity: 1;
}
.inputProfile {
	resize: none;
	width: 168px;
	height: 71px;
	outline: none;
	border: none;
	background-color: rgb(83, 83, 83);
	border-radius: 8px;
	padding: 5px;
	color: #242424;
}
.submit {
	resize: none;
	width: 60px;
	height: 25px;
	outline: none;
	border: none;
	background-color: rgb(83, 83, 83);
	border-radius: 8px;
	padding: 5px;
	color: #242424;
}
.submit:hover {
	color: #a0a0a0;
}
/* END */

/* TextOne */
.textOne {
	text-align: start;
	font-size: 1.1rem;
	font-weight: 800;
	width: 150px;
	height: 25px;
	color: rgb(177, 177, 177);
	z-index: 1;
	cursor: pointer;
}
.textOne:hover + .boxOne {
	height: 120px;
	opacity: 1;
}
.boxOne {
	opacity: 0;
	width: 200px;
	height: 0px;
	font-size: 0.8rem;
	font-weight: 600;
	color: #5e5e5e;
	border-radius: 12px;
	background: rgb(46, 46, 46);
	transition: height 0.5s, opacity 0.5s;
	padding-top: 7%;
}
.boxOne:hover {
	height: 120px;
	color: #949494;
	opacity: 1;
}
/* END */

/* TextTwo */
.textTwo {
	text-align: start;
	font-size: 1.1rem;
	font-weight: 800;
	width: 50px;
	height: 25px;
	color: rgb(177, 177, 177);
	z-index: 1;
	cursor: pointer;
}
.textTwo:hover + .boxTwo {
	height: 120px;
	opacity: 1;
}
.boxTwo {
	opacity: 0;
	width: 200px;
	height: 0px;
	font-size: 0.9rem;
	font-weight: 800;
	color: #5e5e5e;
	border-radius: 12px;
	background: rgb(46, 46, 46);
	transition: height 0.5s, opacity 0.5s;
	padding-top: 7%;
}

.boxTwo:hover {
	height: 120px;
	color: #949494;
	opacity: 1;
}
/* END */

.leftMenuChevron {
	position: absolute;
	/* top: 8px;
	right: -35px; */
}

/* Profile */
.leftMenuBtnProfile {
	position: fixed;
	top: 14rem;
	left: 1.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	width: fit-content;
	/* height: 300px; */
	opacity: 0.5;
	transition: opacity 0.5s ease-in;
	cursor: pointer;
	/* z-index: 1; */
}
.leftMenuBtnProfile:hover {
	transition: opacity 0.5s ease-in;
	opacity: 1;
}
.leftMenuBtnProfile:hover + .profile {
	transition: opacity 0.5s ease-in;
	opacity: 1;
	visibility: visible;
}
.profile {
	position: fixed;
	border-radius: 5px;
	top: 13.5rem;
	left: 1.5rem;
	opacity: 0;
	width: fit-content;
	border: 1px solid rgb(50, 50, 50);
	background-color: rgb(41, 41, 41);
	transition: opacity 0.5s ease-in;
	padding: 10px;
	cursor: pointer;
	text-align-last: left;
	visibility: hidden;
}
.profile:hover {
	transition: opacity 0.5s ease-in;
	opacity: 1;
	visibility: visible;
}

/* ///////////// */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate();
	}
}
@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate();
	}
}
.fadeIn {
	animation: fadeIn 1s ease-in-out;
}
.fadeOut {
	animation: fadeOut 1s ease-in-out;
}
.logo {
	/* height: 2.8vw;
	width: 3.8vw; */
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 10px;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #707070aa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #707070aa);
}

.dropdown-item {
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

/* Line animation */
.line {
	width: 0px;
	height: 5px;
	border-radius: 5px;
	background-color: rgb(129, 129, 129);
	transition: all 0.8s;
}

.lineMove {
	height: 1px;
	width: 100%;
	background-color: rgb(54, 54, 54);
	transition: all 0.8s;
}
.lineContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 3%;
}

.para {
	position: absolute;
	top: 15%;
	animation: animate 1.5s ease-in-out;
	opacity: 0;
	font-weight: 1000;
	font-size: 4vw;
}
/* .paraOne {
	top: 12%;
	left: 42%;
	opacity: 1;
	animation: animate 7s linear infinite;
	color: #333;
} */

@keyframes animate {
	0% {
		/* transform: scale(0.5) translate(0) rotate(0); */
		transform: scale(250);
		color: #535353;
		opacity: 1;
	}
	100% {
		/* transform: scale(2) translate(300px) rotate(0deg); */
		transform: scale(1);
		opacity: 0;
	}
}
